/src_old/
/bin/
/build/
/META-INF/
.gradle/
/run/
*.class
*.log
*.zip
*.jar
*.war
*.ear
*.apk
*.aab
.idea/
*.iws
*.ipr
*.iml
.classpath
.project
.settings/
.vscode/
.DS_Store
Thumbs.db
*~
.claude/
.eclipse/
/tools/
/docs/
/temp/
/fabric/1.21.1/mod/build/
/fabric/1.21.1/mod/run/
/neoforge/1.21.1/mod/build/
/neoforge/1.21.8/mod/build/
/core/bin/
/core/build/
/common/build/
